@font-face {
  font-family: "Montserrat";
  src: url("/Assets/fonts/Montserrat-Medium.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-italic";
  src: url("/Assets/fonts/Montserrat-Italic.ttf");
}
* {
  outline: 0;
  margin: 0;
}
body {
  background-color: #010920;
  background-image: url("/Assets/Images/state/bg.jpg");
  background-size: cover;
}

.head-img-block {
  display: inline-block;
  position: relative;
  width: 45%;
  margin-top: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.head-img-block img {
  display: block;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.page-block {
  display: block;
  position: relative;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 2% 3%;
  background-color: rgba(1, 9, 32, 0.63);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 1920px) {
  .page-block {
    width: calc(100vw / 3);
  }
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .page-block {
    width: calc(100vw / 2);
  }
}

@media screen and (max-width: 767px) {
  .page-block {
    width: calc(100vw);
    margin-left: 7px;
    padding-right: 7px;
  }
  footer {
    width: 104vw;
  }
  header {
    width: 104vw;
  }
  nav {
    width: 104vw;
  }
}

.page-block p,
.page-block ul {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 141%;
  /* or 141% */

  letter-spacing: -0.025em;

  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

#intro,
#meds,
#kadastr,
#docs {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 36;
  color: white;
}

iframe {
  display: block;
  position: relative;
  width: 100%;
  height: 315px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  margin-top: 20px;
}
.footer {
  background: #000;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

header {
  background: #111;
}
.headline {
  position: relative;
  height: 400px;
  color: #fff;
  text-align: center;

  background-size: cover;
}
.headline:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.5);
}
.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  animation: fade-in 0.75s 0.25s ease-in forwards;
  font-family: Montserrat;
}

.inner h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1.2em;
}
.inner p {
  margin: 0;
  font-size: 1.4em;
  font-style: italic;
  font-family: Montserrat;
}
nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
nav {
  backdrop-filter: blur(5px);
}
nav.scrolled {
  background: rgba(17, 17, 17, 0.9);
}

nav ul {
  float: right;
  list-style: none;
  padding: 25px;
  margin: 0;
  font-family: Montserrat-italic;
}
nav li {
  float: left;
}
nav a {
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 20px;
  display: block;
}
nav a:hover {
  color: #ededed;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  height: 75px;
  content: url("/Assets/Images/logo.png");
}
nav .logo-href {
  display: inline-block;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img {
  cursor: pointer;
}
